<div class="container">
    <div class="row">
        <h2 class="">Location voitures et utilitaires</h2>
        <h3>Choisissez votre véhicule parmi nos nouveaux modèles</h3>
        <div class="col-lg-8">
            <li>
                <ul><b>Voiture</b> Faites votre choix parmi nos véhicules compactes et économiques </ul>
                <ul><b>Electrique/Hybride</b> Découvrez notre gamme de voitures électriques et hybrides</ul>
                <ul><b>Prestige</b> Faites votre choix parmi les marques les plus prestigieuses grâce à notre flotte
                </ul>
                <ul><b>Utilitaire</b> Vous recherchez un véhicule utilitaire ? Nous disposons d'une vaste gamme de
                    modèles</ul>
            </li>
        </div>
        <div class="col-lg-4">
            <img src="../../assets/homepageImage.jpeg" class="img-fluid"
                alt="Présentation des différents véhicules disponibles">
        </div>
    </div>
</div>